<h1>Contact request information:</h1>
<table>
	<tr>
		<td>Name:</td>
		<td>{{requestName}}</td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td>{{requestPhone}}</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>{{requestEmail}}</td>
	</tr>
	<tr>
		<td>Message:</td>
		<td>{{requestMessage}}</td>
	</tr>
</table>